@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
body {
  font-family: "Inter", sans-serif;
  background-color: hsl(0, 0%, 8%);
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
} */
.social-links-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.15rem;
  background-color: hsl(0, 0%, 12%);
  padding: 1.5rem;
  border-radius: 1rem;
  width: 350px;
}
.profile_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.profile_name {
  font-size: 1.5rem;
  font-weight: 700;
}
.profile_location {
  font-size: 1rem;
  font-weight: 600;
  color: hsl(75, 94%, 57%);
}
.profile_bio{
    font-size: .85rem;
    text-align: center;
    
}
.social_links {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.social_links a{
    width: 100%;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    padding: 0.75rem 5.5rem;
    text-align: center;
    border-radius: 0.5rem;
    background-color: hsl(0, 0%, 20%);
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.social_links a:hover {
    background-color: hsl(75, 94%, 57%);
}